<h3>Create a new User</h3>
<!-- <form action="/users" method="Post" accept-charset="UTF-8">
  <label for="username">Username</label><br>
  <input type="text" id="username" name="user[username]"><br>
  <br>
  <label for="email">Email</label><br>
  <input type="email" name="user[email]" id="email"><br>
  <br>
  <label for="userpassword">Password</label><br>
  <input type="password" name="user[password]" id="password"><br>
  <br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form> -->
<%# this is neater, but does not allow you to pass the variables into a hash %>
<!-- <%= form_tag url_for(action: 'create'), method: "post" do %>
  <%= label_tag "Username" %><br>
  <%= text_field_tag 'username', @user[:username] %><br>
  <%= label_tag "Email" %><br>
  <%= email_field 'email', @user[:email] %><br>
  <%= label_tag "Password" %><br>
  <%= password_field_tag 'password', @user[:password]%><br>
  <%= submit_tag("submit") %>
<% end %>  -->
<%= form_with model: @user, url:"users_path", method: :post do |form|%>
  <%=form.label :username, "username"%>
  <%= form.text_field :username %>
  <%= form.label :email, "Email" %>
  <%= form.email_field :email %>
  <%= form.label :password, "Password" %>
  <%= form.password_field :password %>
  <%= form.submit "Submit"%>
<%end%>